@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-standart: "Poppins", sans-serif;
    --standart-color: #FF7676;
    --standart-gray-color: rgb(221, 221, 221);
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: var(--font-standart);
    overflow-x: hidden;
}

.div-header-import {
    width: 100%;
}

main {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.div-form-register-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 50vh;
}

.div-form-register-client-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding: 10px;
    border-bottom: 2px solid var(--standart-gray-color);
}

.div-form-register-client-title h1 {
    margin: 0px;
    font-weight: 500;
}

.div-form-register-client form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    padding: 15px;
}


.div-form-section-left,
.div-form-section-right {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    padding: 15px;
    margin: 10px;
}

.div-form-section-left .input-text,
.div-form-section-right .input-text {
    margin: 15px;
    width: 25vh;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 0px;
}

.div-form-section-right .div-select-box-type,
.div-select-box-available {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 15px;
}

.div-form-section-right .div-select-box-type select,
.div-select-box-available select {
    width: 28vh;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 0px;
}

.div-btn-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 15px;
}

.div-sumbit-btn-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3px;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    padding: 1px;
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
    font-size: smaller;
    cursor: pointer;
}

.submit-btn:hover,
.delete-btn:hover {
    background-color: black;
    color: white;
}